GUI/node_red_gui.txt
[{"id":"e487a58.84db6d8","type":"tab","label":"GUI","disabled":false,"info":""},{"id":"27ed1686.5bd1d2","type":"ui_tab","z":"","name":"Light Toy control","icon":"dashboard","disabled":false,"hidden":false},{"id":"c2360b33.554b9","type":"ui_group","z":"","name":"My Light Toy","tab":"27ed1686.5bd1d2","disp":true,"width":"6","collapse":false},{"id":"d0040ad0.b540d","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"96dd2d07.f78958","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9376e769.05295","type":"ui_dropdown","z":"e487a58.84db6d8","name":"","label":"Motion effects","tooltip":"","place":"Select option","group":"c2360b33.554b9","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"COLOR_CHANGE_WITH_POSITION","value":204,"type":"num"},{"label":"FADE_IN_OUT_POSITION","value":202,"type":"num"},{"label":"NUMBER_LEDS_POSITION","value":210,"type":"num"},{"label":"CAMP_MONITOR","value":208,"type":"num"},{"label":"FIRE_ANIM","value":207,"type":"num"},{"label":"TWINKLE_WITH_SPEED","value":205,"type":"num"}],"payload":"","topic":"","x":171,"y":452,"wires":[["fc62ba20.0c1c5"]]},{"id":"aae2707f.1bb658","type":"ui_colour_picker","z":"e487a58.84db6d8","name":"","label":"Color","group":"c2360b33.554b9","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":1,"width":0,"height":0,"passthru":true,"topic":"","x":187,"y":502,"wires":[["5658ab37.00b87c","7a6ee579.305744"]]},{"id":"fc62ba20.0c1c5","type":"mqtt out","z":"e487a58.84db6d8","name":"","topic":"light_toy/mode","qos":"","retain":"","broker":"d0040ad0.b540d","x":368,"y":451,"wires":[]},{"id":"5658ab37.00b87c","type":"mqtt out","z":"e487a58.84db6d8","name":"","topic":"light_toy/color","qos":"","retain":"","broker":"d0040ad0.b540d","x":372,"y":504,"wires":[]},{"id":"188afc23.1021dc","type":"mqtt out","z":"e487a58.84db6d8","name":"","topic":"light_toy/brightness","qos":"","retain":"","broker":"d0040ad0.b540d","x":392,"y":595,"wires":[]},{"id":"275746fd.1088aa","type":"ui_slider","z":"e487a58.84db6d8","name":"","label":"Brightness","tooltip":"","group":"c2360b33.554b9","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"10","step":1,"x":180,"y":593,"wires":[["188afc23.1021dc"]]},{"id":"7a6ee579.305744","type":"debug","z":"e487a58.84db6d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":544,"y":542,"wires":[]},{"id":"d5688cbc.9b918","type":"ui_switch","z":"e487a58.84db6d8","name":"","label":"Enable 3D visualization","tooltip":"","group":"c2360b33.554b9","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":261,"y":711,"wires":[["4fd29cdd.acdabc"]]},{"id":"4fd29cdd.acdabc","type":"mqtt out","z":"e487a58.84db6d8","name":"","topic":"light_toy/enable_visualization","qos":"","retain":"","broker":"d0040ad0.b540d","x":556,"y":711,"wires":[]},{"id":"548d531d.d6bf2c","type":"ui_dropdown","z":"e487a58.84db6d8","name":"","label":"Static effects","tooltip":"","place":"Select option","group":"c2360b33.554b9","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"OFF","value":0,"type":"num"},{"label":"ON","value":1,"type":"num"},{"label":"RGB_LOOP","value":10,"type":"num"},{"label":"FADE_IN_OUT","value":11,"type":"num"},{"label":"STROBE","value":12,"type":"num"},{"label":"FIRE","value":13,"type":"num"},{"label":"HALLOWEEN_EYES","value":14,"type":"num"},{"label":"CYCLON_BOUNCE","value":15,"type":"num"},{"label":"TWINKLE","value":16,"type":"num"},{"label":"TWINKLE_RANDOM","value":17,"type":"num"},{"label":"SPARKLE","value":18,"type":"num"},{"label":"SNOW_SPARKLE","value":19,"type":"num"},{"label":"RUNNING_LIGHTS","value":20,"type":"num"},{"label":"RAINBOW_CYCLE","value":21,"type":"num"},{"label":"BOUNCING_COLORED_BALLS","value":22,"type":"num"}],"payload":"","topic":"","x":181,"y":392,"wires":[["13b2fb5a.b69595"]]},{"id":"13b2fb5a.b69595","type":"mqtt out","z":"e487a58.84db6d8","name":"","topic":"light_toy/mode","qos":"","retain":"","broker":"d0040ad0.b540d","x":366,"y":392,"wires":[]}]
