GUI/node_red_gui.txt
[{"id":"701a8f1c.95435","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c8a04263.d1e828","type":"ui_tab","z":"","name":"Light Toy control","icon":"dashboard","disabled":false,"hidden":false},{"id":"d1cfd308.f4201","type":"ui_group","z":"","name":"Default","tab":"c8a04263.d1e828","disp":true,"width":"6","collapse":false},{"id":"7263c791.92a4b","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8daf70bd.041c6","type":"ui_dropdown","z":"701a8f1c.95435","name":"","label":"Mode","tooltip":"","place":"Select option","group":"d1cfd308.f4201","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"STATIC","value":0,"type":"num"},{"label":"STROBE","value":1,"type":"num"},{"label":"RGB LOOP","value":2,"type":"num"}],"payload":"","topic":"","x":190,"y":447,"wires":[[]]},{"id":"dff223dd.6c55a","type":"ui_colour_picker","z":"701a8f1c.95435","name":"","label":"Color","group":"d1cfd308.f4201","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":1,"width":0,"height":0,"passthru":true,"topic":"","x":188,"y":510,"wires":[[]]},{"id":"7ea32250.8e81fc","type":"ui_switch","z":"701a8f1c.95435","name":"","label":"Power","tooltip":"","group":"d1cfd308.f4201","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":188,"y":395,"wires":[[]]},{"id":"99f05734.1954e8","type":"ui_slider","z":"701a8f1c.95435","name":"","label":"Gyroscope x","tooltip":"","group":"d1cfd308.f4201","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"360","step":1,"x":212,"y":603,"wires":[["bf4cfd79.5d51b8"]]},{"id":"a4e1579f.794a4","type":"ui_slider","z":"701a8f1c.95435","name":"","label":"Gyroscope y","tooltip":"","group":"d1cfd308.f4201","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"360","step":1,"x":214,"y":652,"wires":[["b0a11e0a.17d008"]]},{"id":"296ff296.87de6e","type":"ui_slider","z":"701a8f1c.95435","name":"","label":"Gyroscope z","tooltip":"","group":"d1cfd308.f4201","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"360","step":1,"x":211,"y":702,"wires":[["991feee8.b0e668"]]},{"id":"bf4cfd79.5d51b8","type":"mqtt out","z":"701a8f1c.95435","name":"","topic":"light_toy/gyroscope/x","qos":"","retain":"","broker":"7263c791.92a4b","x":437,"y":602,"wires":[]},{"id":"b0a11e0a.17d008","type":"mqtt out","z":"701a8f1c.95435","name":"","topic":"light_toy/gyroscope/y","qos":"","retain":"","broker":"7263c791.92a4b","x":439,"y":653,"wires":[]},{"id":"991feee8.b0e668","type":"mqtt out","z":"701a8f1c.95435","name":"","topic":"light_toy/gyroscope/z","qos":"","retain":"","broker":"7263c791.92a4b","x":439,"y":705,"wires":[]}]
